.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.chart-container {
  position: relative;
  margin: 2rem auto;
  height: 100vh;
  width: 90vw;
}
